* {
  /* border-top: 10px solid #55bccc; */
  margin: 0px;
  padding: 0px;
}
body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #55bccc;
  position: relative;
}

.container {
  width: 700px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  /* position: relative; */
}
.main-header {
  background-color: #f8e1e1;
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 80px; */
}

.postheader {
  margin-bottom: 40px;
}

article {
  margin-bottom: 60px;
}
aside {
  background-color: #f7f7f7;
  border-top: 7px solid rgb(33, 198, 165);
  border-bottom: 7px solid rgb(33, 198, 165);
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0;
  width: 500px;
}

h1,
h2,
h3 {
  color: rgb(33, 198, 165);
}

h1 {
  font-size: 26px;

  text-transform: uppercase;
  font-style: italic;
  position: relative;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2 {
  font-size: 40px;
  margin-bottom: 38px;
}

h3 + p::first-line {
  color: salmon;
}

h1::after {
  content: "wating";
  text-decoration: underline;
  font-size: 10px;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  bottom: 0px;
}

h3 {
  font-size: 30ps;
  margin-bottom: 20px;
  margin-top: 40px;
}
h4 {
  font-size: 26px;

  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.5;
  margin-bottom: 15px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
  /* display: inline; */
}
li:last-child {
  margin-bottom: 0px;
}

/* footer p {
  font-size: 16px;
} */

/*article header p {
  font-style: italic;
}*/

#author {
  font-style: italic;
  font-size: 18px;
  color: brown;
}

#copyrignt {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

ul,
ol {
  margin-bottom: 20px;
}

.related {
  list-style: none;
}

/* body {
  background-color: rgb(239, 239, 230); 
} */

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}
li:nth-child(2) {
  color: rgb(10, 198, 160);
}
/* 以上三个是伪类，子元素相同时使用 */

a:link {
  color: rgb(96, 175, 214);
  text-decoration: none;
}
a:visited {
  color: #777;
}
a:hover {
  color: rgb(55, 85, 156);
  font-weight: bold;
  text-decoration: underline wavy #333;
}
a:active {
  background-color: #444444;
  font-style: italic;
}

.postimg {
  width: 100%;
  height: auto;
}

/* nav a:link,
nav p {
  font-size: 18px;
} */

nav {
  font-size: 18px;
}

nav a:link {
  /* background-color: rgb(141, 220, 194);
  padding: 10px;
  margin: 20px;

  display: block; */
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0px;
}

#button {
  background-color: pink;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 20px;
  border: orchid;
  position: absolute;
  /* top: 0;
  left: 0; */
  bottom: 50px;
  right: 50px;
}

#button:hover {
  color: #000;
  background-color: #fff;
}
